{% extends 'back/base.html.twig' %}

{% block title %}{{ parent() }} | Détail de la session{% endblock %}

{% block main %}

    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 col-xl-6">
            <div class="card m-4">
                <div class="card-header d-flex justify-content-center align-items-center">
                    <p class="h4">Détail de la session</p>
                </div>
                <table class="table table-striped table-novered mb-0">
                    <tbody>
                    <tr>
                        <td class="text-center align-middle">Nom</td>
                        <td class="text-center align-middle">{{ session.name }}</td>
                    </tr>
                    <tr>
                        <td class="text-center align-middle">Date de début</td>
                        <td class="text-center align-middle">{{ session.start|date('d/m/Y') }}</td>
                    </tr>
                    <tr>
                        <td class="text-center align-middle">Date de fin</td>
                        <td class="text-center align-middle">{{ session.end|date('d/m/Y') }}</td>
                    </tr>
                    <tr>
                        <td class="text-center align-middle">Taille</td>
                        <td class="text-center align-middle">{{ session.size }}</td>
                    </tr>
                    <tr>
                        <td class="text-center align-middle">Apprenants</td>
                        <td class="text-center align-middle">
                            {% for user in session.users %}
                                {{ user.username }}
                            {% endfor %}
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="card-body">
                    <a href="{{ path('session_manage') }}" class="btn btn-secondary">Retour</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}