{% extends 'back/base.html.twig' %}

{% block title %}{{ parent() }} | Tableau de bord{% endblock %}

{% block main %}
    <div class="row justify-content-center">
        <div class="col-12 col-xl-10">
            <h2 class="mt-2">Tableau de bord</h2>
            <div class="d-flex flex-row flex-wrap">
                {# card user #}
                <div class="card m-3" style="width: 30%">
                    <div class="card-header">
                        <div class="media d-flex">
                            <div class="align-self-center">
                                <i class="fa fa-users" aria-hidden="true" style="font-size:3rem;"></i>
                            </div>
                            <div class="media-body text-right">
                                <h3>{{ users | length }}</h3>
                                <span>Apprenants</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <i class="fa fa-th-list" aria-hidden="true"></i>
                        <a href="{{ path('user_manage') }}">Voir la liste</a>
                    </div>
                </div>
                {# card sessions #}
                <div class="card m-3" style="width: 30%">
                    <div class="card-header">
                        <div class="media d-flex">
                            <div class="align-self-center">
                                <i class="fa fa-graduation-cap" aria-hidden="true" style="font-size:3rem;"></i>
                            </div>
                            <div class="media-body text-right">
                                <h3>{{ sessions | length }}</h3>
                                <span>Sessions</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <i class="fa fa-th-list" aria-hidden="true"></i>
                        <a href="{{ path('session_manage') }}">Voir la liste</a>
                    </div>
                </div>
                {# card skills #}
                <div class="card m-3" style="width: 30%">
                    <div class="card-header">
                        <div class="media d-flex">
                            <div class="align-self-center">
                                <i class="fa fa-cogs" aria-hidden="true" style="font-size:3rem;"></i>
                            </div>
                            <div class="media-body text-right">
                                <h3>{{ skills | length }}</h3>
                                <span>Compétences</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <i class="fa fa-th-list" aria-hidden="true"></i>
                        <a href="#">Voir la liste</a>
                    </div>
                </div>
                {# card promotions #}
                <div class="card m-3" style="width: 30%">
                    <div class="card-header">
                        <div class="media d-flex">
                            <div class="align-self-center">
                                <i class="fa fa-graduation-cap" aria-hidden="true" style="font-size:3rem;"></i>
                            </div>
                            <div class="media-body text-right">
                                <h3>{{ promotions | length }}</h3>
                                <span>Promotions</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <i class="fa fa-th-list" aria-hidden="true"></i>
                        <a href="#">Voir la liste</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}